# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/styles.css
src/styles.css.map
src/app/app.component.css
src/app/app.component.css.map
src/app/about/about.component.css
src/app/about/about.component.css.map
src/app/admin/add-tableau/add-tableau.component.css
src/app/admin/add-tableau/add-tableau.component.css.map
src/app/admin/connexion/connexion.component.css
src/app/admin/connexion/connexion.component.css.map
src/app/admin/edit-tableau/edit-tableau.component.css
src/app/admin/edit-tableau/edit-tableau.component.css.map
src/app/admin/edit-tableau/edit-single-tableau/edit-single-tableau.component.css
src/app/admin/edit-tableau/edit-single-tableau/edit-single-tableau.component.css.map
src/app/contact/contact.component.css
src/app/contact/contact.component.css.map
src/app/home/home.component.css
src/app/home/home.component.css.map
src/app/layout/footer/footer.component.css
src/app/layout/footer/footer.component.css.map
src/app/layout/navbar/navbar.component.css
src/app/layout/navbar/navbar.component.css.map
src/app/portfolio/portfolio.component.css
src/app/portfolio/portfolio.component.css.map
src/app/portfolio/single-tableau/single-tableau.component.css
src/app/portfolio/single-tableau/single-tableau.component.css.map
src/app/portfolio/pagination/pagination.component.css
src/app/portfolio/pagination/pagination.component.css.map
