<div id="about" class="container">

    <div class="avatar">
        <img src="
        https://firebasestorage.googleapis.com/v0/b/marie-paule-site.appspot.com/o/istockphoto-477333976-170667a.jpg?alt=media&token=72839650-c32b-4734-867e-022c80d24253
        " alt="">
    </div>

    <br><br>

    <div class="text">
        <h3 class="prenom text-center">Marie-Paule</h3>
        <br><br>
        <div class="jumbotron">
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet dolor congue, venenatis nisi a, finibus velit. Pellentesque mollis diam maximus tortor posuere aliquam. Vivamus efficitur est lacus, vestibulum hendrerit mi blandit in. Praesent dignissim dignissim pretium. Quisque elementum sed arcu in aliquet. Nulla elementum lectus sed tincidunt interdum. Proin tempor iaculis dignissim. Aenean commodo leo sed nunc tempor, sagittis mollis sem eleifend. Duis aliquet ullamcorper lorem, quis molestie leo fermentum eu. Suspendisse pellentesque dignissim nulla sit amet gravida.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-info" (click)="goPortfolio()" role="button">Découvrir ses Tableaux</a>
            </div>
        </div>
    </div>

</div>