<div id="about" class="container">

    <div class="avatar text-center">
        <img src="
        https://firebasestorage.googleapis.com/v0/b/marie-paule-site.appspot.com/o/avatar-marie.png?alt=media&token=d5c45ef3-a05c-496a-8936-0a22fc9607b2
        " alt="">
        <div class="prenom-about text-center prenom">
          <h1 class="display-3 text-nowrap">Marie-Paule B</h1>
        </div>
    </div>

    <br><br>

    <div class="text">
        
        <br><br>
        <div class="jumbotron">
            <p class="lead manuscrit">
              Lorsque je peins, c’est un voyage, il est intuitif. Je laisse l’instant me prendre et vivre sur la toile.
              <br>
              Après avoir laissé poser celle-ci, je la retrouve, et là, attentive, j’écoute son message...
              <br><br>
              C’est le moment où je décide ce que je choisis de mettre en avant.
              <br>
              C’est le temps où j’écris l’histoire.
              <br>
              J’ai réalisé des toiles en noir et blanc, j’aime jouer avec leur éclat. Pour moi les séparer, c’est les rendre ternes.
              <br>
              J’aime le noir car pour moi, il porte à son apogée, la lumière du blanc. Je suis très sensible et j’aime être présente pour mettre en valeur ce qui est montré du doigt. Je pense que tout dépend de notre propre position sur nos enseignements et de notre ouverture sur toutes choses.
              <br><br>
              Comme une « apprentie aventurière », je me suis aperçue de ma quête pour la lumière, elle est essentielle, quelle que soit la destination où j’emmène la toile.
              <br><br>
              Voici donc quelques unes de mes intentions que porte ma peinture....
              <br><br>
              Ce n’est que le début !!!
              <br><br>
              « Chaque toile commencée est une invitation à une nouvelle histoire.... Chaque toile finie n’est plus à moi.... » 
              <br><br>
            </p>
            <br><br>
            <p class="lead text-right manuscrit">- Marie-Paule B</p>
            <br>
            <a class="btn btn-info btn-block" (click)="goPortfolio()" role="button">Découvrir ses Tableaux</a>
        </div>
    </div>

</div>
