.container {
    margin-bottom: 5%;

    & .btn {
        background-color: var(--purple-alpha);
        color: var(--white);
    
        &:hover, &:active, &:focus {
            opacity: 80%;
        }
    }
}

.card {
    transition: 2s;

    & .badge {
        margin-right: 1%;
    }
    & .card-text {
        overflow-y: auto;
    }

    & .card-img-overlay {
        background-color: #eee;
        z-index: -100;
        transition-delay: 0.5s;
        transform: rotateY(-180deg);
    }

    &:hover {
        cursor: pointer;
    }

    &.reverse {
        transform: rotateY(180deg);
        
        & img {
            z-index: 0;
        }
        
        & .card-img-overlay {
            z-index: 100;
        }
    }
}


/*.rotation3d {
  background: #eaeaed;
  float: left;
}
.box {
  background: #e4087e;
  height: 120px;
  line-height: 120px;
  text-align: center;
  width: 120px;
  color: #fff;
  font-weight: 700;
}
.run-rotation {
  cursor: pointer;
  transform-style: preserve-3d;
}
.run-rotation:hover {
    animation: run-rotation 5s linear infinite;
}
@keyframes run-rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: perspective(200px) rotateX(45deg);
}
.box-2 {
  transform: perspective(200px) rotateY(45deg);
}
.box-3 {
  transform: perspective(200px) rotateZ(45deg);
}
*/