.cont {
    margin-bottom: 10px;

    & .btn {
        background-color: var(--purple-alpha);
        color: var(--white);
        margin-right: 5px;

        &:hover, &:active, &:focus {
            opacity: 80%;
        }
    }

    &.card.title {
      margin-bottom: -2px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom: none;
    }
}

.card {
    transition: 2s;
    overflow-y: auto;
    max-width: 100%;

    & .card-img {
      height: auto;
      max-width: 100%;
    }

    & .badge {
        margin-right: 1%;
    }

    & .card-img-overlay {
        background-color: #eee;
        z-index: -100;
        transition-delay: 0.5s;
        transform: rotateY(-180deg);
    }

    &:hover {
        cursor: pointer;
    }

    &.reverse {
        transform: rotateY(180deg);
        
        & img {
            z-index: 0;
        }
        
        & .card-img-overlay {
            z-index: 100;
        }
    }
}

/*-- media queries --*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    max-width: 50%;

    & .card-img {
      height: auto;
      max-width: 100%;
    }
  }
}