<div class="cont">
    <a class="btn" (click)="onBack()"><i class="ri-arrow-go-back-line"></i> Retour</a>
    <a class="btn" (click)="reverseImg()"><i class="ri-anticlockwise-2-line"></i> + d'Info</a>
</div>

<br><br>

<div class="cont card title">
    <h5 class="card-header">{{ tableau?.title }}</h5>
</div>

<div class="card" (click)="reverseImg()" id="card">
    <img [src]="tableau?.image" class="card-img" alt="{{tableau?.title}}">
    <div class="card-img-overlay">
        <p class="card-text">{{ tableau?.description }}</p>
        <span class="card-text" *ngIf="tableau?.price">
            <span class="text-muted">Prix :</span> 
            <h3>{{ tableau?.price }}€</h3>
        </span>
        <ul class="list-group list-group-flush text-muted">
            <li class="list-group-item">
                <small>Date : {{ tableau?.date_rea | date: 'd MMM y' }}</small>
            </li>
            <li class="list-group-item">
                <small>Dimensions : L {{tableau?.length}}cm x H {{tableau?.height}}cm </small>
            </li>
            <li class="list-group-item">
                <small>Peinture : {{categories[tableau?.categorie]?.nom}}</small>
            </li>
            <li class="list-group-item" *ngIf="tableau?.to_sell || tableau?.sell">
                <span class="badge" *ngIf="tableau?.to_sell">À vendre</span>
                <span class="badge badge-sell" *ngIf="tableau?.sell">Vendu</span>
            </li>
        </ul>
        <div class="card-footer">
            <small class="text-muted">Mise à jour le {{ tableau?.date | date: 'd MMM y à  H:mm'}}</small>
        </div>
    </div>
</div>