<div class="jumbotron">

    <div class="text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/marie-paule-site.appspot.com/o/carte-visite.jpg?alt=media&token=9b436567-90ed-406e-8284-421f0fda2557" alt="carte de visite">
    </div>

    <p class="lead">
      <small class="text-muted">Numéro de téléphone : </small> 06 60 18 41 05
      <br><br>
      <small class="text-muted">Adresse mail : </small> mp.choquet@yahoo.fr
    </p>

    <br>

    <a class="btn btn-info btn-block" href="tel:0660184105"><i class="ri-phone-line"></i> Appeler Marie-Paule</a>
    <a class="btn btn-info btn-block" href="mailto:mp.choquet@yahoo.fr?subject=Contact site internet&body=Bonjour,"><i class="ri-mail-line"></i> Écrire à Marie-Paule</a>

</div>

<div style="
  padding-bottom: 5%;
">
  <br>
</div>