<div id="contact" class="container">
  <div class="jumbotron">
    <div class="d-flex">
      <img src="https://firebasestorage.googleapis.com/v0/b/marie-paule-site.appspot.com/o/carte-visite.jpg?alt=media&token=9b436567-90ed-406e-8284-421f0fda2557">

      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Marie Paule B</h5>
          <p class="card-text">Artiste peintre</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">06 60 18 41 05</li>
          <li class="list-group-item">mp.choquet@yahoo.fr</li>
        </ul>
        <div class="card-body">
          <a class="btn btn-info btn-block" href="tel:0660184105"><i class="ri-phone-line"></i></a>
          <a class="btn btn-info btn-block" href="mailto:mp.choquet@yahoo.fr?subject=Contact site internet&body=Bonjour,"><i class="ri-mail-line"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div style="
    padding-bottom: 25%;
  ">
    <br>
  </div>
</div>