.card {
    border-radius: 5px;
    margin: 0.75rem;
    color: var(--purple);
    text-decoration: none;
    transition: 0.25s;
}

.card:hover, .card:active, .card:focus {
    transform: scale(0.98);
    box-shadow: 1px 1px 5px #555;
    cursor: pointer;
}

.badge {
    margin: 2%;
}

.badge-secondary {
    background-color: var(--purple-alpha);
}