<div class="card-columns">
    <div 
        class="card"
        [id]="i"
        *ngFor="let tableau of tableaux; let i = index"
    >
        <img [src]="tableaux[tableaux.length-i-1].image" class="card-img-top" alt="{{tableaux[tableaux.length-i-1].title}}">
        <div class="card-body">
            <h5 class="card-title">{{tableaux[tableaux.length-i-1].title}}</h5>
            <p class="card-text">{{tableaux[tableaux.length-i-1].description}}</p>
        </div>
        <ul class="list-group list-group-flush text-muted">
            <li class="list-group-item">Date de peinture : <br>
                <small>{{tableaux[tableaux.length-i-1].date_rea | date: 'd MMM y'}}</small>
            </li>
            <li class="list-group-item">Dimensions : <br>
                <small>L {{tableaux[tableaux.length-i-1].length}}cm x H {{tableaux[tableaux.length-i-1].height}}cm </small>
                
            </li>
            <li class="list-group-item" *ngIf="tableaux[tableaux.length-i-1].price && tableaux[tableaux.length-i-1].to_sell">
                Prix : <small>{{tableaux[tableaux.length-i-1].price}}€</small>
            </li>
            <li class="list-group-item">
                Technique de Peinture : <br>
                <small>{{categories[tableaux[tableaux.length-i-1].categorie]?.nom}}</small>
            </li>
            <li class="list-group-item" *ngIf="tableaux[tableaux.length-i-1]?.etat">
                <span class="badge badge-sell">{{ etats[tableaux[tableaux.length-i-1].etat]?.nom }}</span>
            </li>
        </ul>
        <div class="card-body">
            <button (click)="onClick(tableaux[tableaux.length-i-1])" type="button" class="btn">
                <i class="ri-delete-bin-line"></i> Supprimer
            </button>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Mise à jour : <br>
                {{tableaux[tableaux.length-i-1].date | date: 'd MMM y à H:mm'}}
            </small>
        </div>
    </div>
</div>