// color
:root {
    // white
    --white: rgb(238, 238, 238);
    --white-alpha: rgba(238, 238, 238, 0.5);
    // purple
    --purple: rgb(63, 43, 75);
    --purple-alpha: rgba(63, 43, 75, 0.7);
}

// font 'Marker-Felt'
@font-face {
    font-family: 'Marker-Felt';
    src: url('assets/font/Marker-Felt.ttf.woff') format('woff'),
         url('assets/font/Marker-Felt.ttf.svg') format('svg'),
         url('assets/font/Marker-Felt.ttf.eot'),
         url('assets/font/Marker-Felt.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

// body general option
body {
    // image de fond
    background: url("assets/img/w5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    // couleur du texte
    color: var(--purple);
    
    // police du texte
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    // overflow x hidden
    overflow-x: hidden;
}

// cache les éléments
.hide {
    display: none;
}

// mise en page du contenu
.content {
    background-color: var(--white-alpha);
    margin: 15rem 0rem 0rem 0rem;
    padding: 2rem 0.5rem;
}



/*-------- éléments générales --------*/
// carousel
.carousel { 
    border: 1px groove var(--purple);
    border-radius: 5px;
    box-shadow: 20px 20px 40px -5px var(--purple-alpha);
}

.carousel .carousel-item img {
    object-fit: cover;
    height: 80vh;
}

.manuscrit {
    font-family: 'Marker-Felt';
    font-size: larger;
}

/*-------- media queries --------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
         
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        margin: 5rem 3rem 5rem 28rem;
        padding: 5rem;        
        border-radius: 5px;
    }
}