<div class="page">
  <div class="container">
    <h1>Connexion administrateur</h1>
  </div>

  <div class="container">
    Connexion pour un administrateur du site. Veuillez utiliser les informations de connexion fournir par le gérant du site.
  </div>

  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="inputs"> 
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        aria-describedby="emailHelp" 
        formControlName="email"
        placeholder="Entrer votre adresse mail">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        formControlName="password"
        placeholder="Entrer votre mot de passe">
      </div>
        <div style="color: red;">{{ errorMessage }}</div>
      <br><br>
      <button type="submit" class="btn btn-info" [disabled]="signinForm.invalid"><i class="ri-login-box-line"></i> Connexion</button>
  </form>
</div>