// sidebar
.sidebar {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    letter-spacing: 2px;
    width: 100%;
    font-size: 20px;
    top: 0;
    z-index: 1000;
    padding: 1rem;

    & .menu {
        cursor: pointer;
        transition: all 0.25s;
    }

    & .sidebar-head {
        display: none;
    }

    & #sidebar-menu {
        height: 0%;
        display: none;
        transition: height 1s;
    }
    
    & .menu.open-menu {
        font-weight: bold;
        letter-spacing: 10px;
    }

    & #sidebar-menu.is-visible {
        height: 100vh;
        display: block;
        text-align: center;
    }

    & #sidebar-menu.is-visible .sidebar-item:first-child {
        padding-top: 20%;
    }

    & #sidebar-menu.is-visible .sidebar-item {
        padding-top: 10%;
        margin-left: -5px;
    }

    & .sidebar-head {
        font-family: 'Marker-Felt';
        font-size: 40px;
        padding: 2rem;
    }

    & .sidebar-item a {
        font-size: 30px;
        color: var(--purple);
        transition: all 0.25s;
    }

    & .sidebar-item.is-active {
        font-weight: bold;
        text-shadow: 5px 5px 15px var(--purple-alpha);
        letter-spacing: 5px;
    }

    & .sidebar-footer {
        font-size: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 0;
        bottom: 0;
        padding: 5rem 2rem;
        position: absolute;
        text-align: center;
    }
}

/*-- media queries --*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar {
        height: 100vh;
        width: 20%;
        left: 0;
        background-color: var(--white-alpha);
        position: fixed;
        text-align: center;

        & .menu {
            display: none;
        }

        & .sidebar-head {
            display: block;
        }

        & #sidebar-menu {
            display: block;
            margin-top: 5rem;
        }
    
        & .sidebar-item {
            padding: 1rem 0rem;
        }

        & #sidebar-menu.is-visible .sidebar-item {
            padding: 1rem 0rem;
            margin-left: 0px;
        }
    
        & .sidebar-footer {
            padding: 1rem 5rem;
        }

        & a:active, & a:focus, & a:hover {
            cursor: pointer;
        }

        & .sidebar-item a:hover {
            text-decoration: none;
            letter-spacing: 10px;
        }

        & .menu:hover,
        & .menu:focus,
        & .menu:active {
            letter-spacing: 10px;
        }
    }
}