<div class="sidebar">
    <div 
    class="sidebar-item mobile right menu" 
    onclick="menu_toggle()"
    >
        MENU
    </div>
    <div id="sidebar-menu"
    onclick="menu_toggle()">
    <div class="sidebar-head">
        Marie-Paule Création
    </div>
        <div class="sidebar-item" routerLinkActive="is-active">
            <a 
            routerLink="home"
            >Accueil</a>
        </div>
        <div class="sidebar-item" routerLinkActive="is-active">
            <a 
            routerLink="portfolio"
            >Tableaux</a>
            <!--
            <div class="btn-group dropright">
                <a type="button" class="dropdown-toggle">
                    Portfolio
                </a>
            </div>
            -->
        </div>
        <div class="sidebar-item hide">
            <a href="">Expositions</a>
        </div>
        <div class="sidebar-item">
            <a href="">À propos</a>
        </div>
        <div class="sidebar-item">
            <a href="">Contact</a>
        </div>
        
        <div class="sidebar-footer">
            <p>
                Copyright © Marie-Paule 2020. Tous droit réservé.
            </p>
            <p>
                Fait avec <span style="color: red;">&hearts;</span> par <a href="https://www.chrisblnc.fr" target="_blank">Christian</a>.
            </p>
            <p>
                En cas de problème technique merci d'écrire directement à <a href="">www.dev@marie.com</a>.
            </p>
        </div>
    </div>
</div>