<div class="sidebar">
    <div class="sidebar-item mobile right menu">
        <a onclick="menu_toggle()">MENU</a>
    </div>
    <div id="navbar-item" class="">
        <div class="sidebar-item is-active">
            <a href="">Accueil</a>
        </div>
        <div class="sidebar-item">
            <div class="btn-group dropright">
                <a type="button" class="dropdown-toggle">
                    Portfolio
                </a>
            </div>
        </div>
        <div class="sidebar-item">
            <a href="">Expositions</a>
        </div>
        <div class="sidebar-item">
            <a href="">À propos</a>
        </div>
        <div class="sidebar-item">
            <a href="">Contact</a>
        </div>
    </div>
</div>