<div class="sidebar">
    <div 
    class="sidebar-item mobile right menu" 
    onclick="menu_toggle()"
    >
        MENU
    </div>
    <div id="sidebar-menu"
    onclick="menu_toggle()">
    <div class="sidebar-head">
        Marie-Paule Création
    </div>
        <!-- VISITEURS -->
        <div class="sidebar-item" routerLinkActive="is-active" *ngIf="!isAuth">
            <a 
            routerLink="home"
            >Accueil</a>
        </div>
        <div class="sidebar-item" routerLinkActive="is-active" *ngIf="!isAuth">
            <a 
            routerLink="portfolio"
            >Tableaux</a>
        </div>
        <div class="sidebar-item hide" *ngIf="!isAuth">
            <a href="">Expositions</a>
        </div>
        <div class="sidebar-item" *ngIf="!isAuth">
            <a href="">À propos</a>
        </div>
        <div class="sidebar-item" *ngIf="!isAuth">
            <a href="">Contact</a>
        </div>
        
        <!-- ADMIN -->
        <div class="sidebar-item" routerLinkActive="is-active" *ngIf="isAuth">
            <a 
            routerLink="admin/add-tableau"
            >Ajouter</a>
        </div>
        <div class="sidebar-item" routerLinkActive="is-active" *ngIf="isAuth">
            <a 
            routerLink=""
            >Supprimer</a>
        </div>
        <div class="sidebar-item" routerLinkActive="is-active" *ngIf="isAuth">
            <a
            (click)="onSignOut()"
            >Déconnexion</a>
        </div>

        <!-- FOOTER SIDEBAR -->
        <div class="sidebar-footer">
            <p>
                Copyright © Marie-Paule 2020. Tous droit réservé.
            </p>
            <p>
                Fait avec <span style="color: red;">&hearts;</span> par <a href="https://www.chrisblnc.fr" target="_blank">Christian</a>.
            </p>
            <p>
                En cas de problème technique merci d'écrire directement à <a href="">www.dev@marie.com</a>.
            </p>
        </div>
    </div>
</div>