<div class="container">
  <div class="prenom" (click)="toAdmin()">
    <h1 class="display-3 text-center">Marie-Paule B</h1>
  </div>
  <br><br>
  <div class="jumbotron">
    <h1 class="display-6 manuscrit text-center">Bienvenue !</h1>
    <p class="lead manuscrit">
      <br>
      J’ai dans ma besace les souvenirs d’une adolescente accrochée à ses crayons de couleurs. J’ai fermé cette boîte d’arc-en-ciel pour me tourner vers un métier celui de coiffeuse pendant 33 ans.
      <br>
      Plus jeune, j’étais très timide, cette profession m’a appris à être plus à l’aise en public et, grâce à elle, je me suis enrichie de diverses et multiples rencontres.
      <br>
      J’ai vécu mes dernières années seule au sein de mon salon de coiffure. Le respect et le partage avec les personnes qui franchissaient ma porte étaient l’essence même de ce lieu. Au fond de mon coeur, plus le temps passait, plus je sentais, malgré ces conditions de travail idylliques, la fin de cette histoire...
      <br>
      J’ai donc terminé cette carrière en 2020 sans savoir où m’emmènerait la Vie.
      <br><br>
      Pour faire le vide, je suis partie sur le Chemin de Compostelle et après 500 kilomètres dans mes pieds, je fus rattrapée par la Covid-19.
      <br>
      Il me fallait rentrer...
      <br><br>
      La Peinture est venue à moi en vivant un atelier pictural avec une amie. Ce fut une révélation !!!
      <br>
      Les couleurs, les textures et les contrastes possibles m'ouvraient des sensations nouvelles, comme une liberté illimitée. Depuis, elles ne me lâchent plus !!!
      <br>
      Tout naturellement, mon ancien salon est devenu le lieu de mes grandes conversations avec les pigments...
      <br>
      Nous sommes devenus très bavards !
      <br>
      Aujourd’hui, je suis prête à présenter mon travail.
      <br>
      Cette voie artistique est pleine d’inconnues, c’est le choix de mon coeur et une envie profonde.
      <br>
      En toute simplicité, je souhaite juste le droit de vivre cette expérience et de la partager avec Vous !!!
      <br><br>
    </p>
    <p class="lead text-right manuscrit">- Marie-Paule B</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-info" (click)="goAbout()" role="button">Découvrir l'Artiste</a>
      <a class="btn btn-info" (click)="goPortfolio()" role="button">Découvrir ses Tableaux</a>
    </div>
  </div>
</div>

<div class="container">
  <span class="text-muted">Dernières ajouts :</span>
  <br><br>

  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" (click)="openTableau(tableaux.length-1)">
        <img class="d-block w-100" [src]="tableau1?.image" alt="First slide">
      </div>
      <div class="carousel-item" (click)="openTableau(tableaux.length-2)">
        <img class="d-block w-100" [src]="tableau2?.image" alt="Second slide">
      </div>
      <div class="carousel-item" (click)="openTableau(tableaux.length-3)">
        <img class="d-block w-100" [src]="tableau3?.image" alt="Third slide">
      </div>
    </div>
  </div>
</div>