<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Message de bienvenue</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet dolor congue, venenatis nisi a, finibus velit. Pellentesque mollis diam maximus tortor posuere aliquam. Vivamus efficitur est lacus, vestibulum hendrerit mi blandit in. Praesent dignissim dignissim pretium. Quisque elementum sed arcu in aliquet. Nulla elementum lectus sed tincidunt interdum. Proin tempor iaculis dignissim. Aenean commodo leo sed nunc tempor, sagittis mollis sem eleifend. Duis aliquet ullamcorper lorem, quis molestie leo fermentum eu. Suspendisse pellentesque dignissim nulla sit amet gravida.
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-info" (click)="goAbout()" role="button">Découvrir Marie-Paule</a>
      <a class="btn btn-info" (click)="goPortfolio()" role="button">Découvrir ses Tableaux</a>
    </div>
  </div>
</div>

<div class="container">
  <span class="text-muted">Dernières ajouts :</span>
  <br><br>

  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" (click)="openTableau(tableaux.length-1)">
        <img class="d-block w-100" [src]="tableau1?.image" alt="First slide">
      </div>
      <div class="carousel-item" (click)="openTableau(tableaux.length-2)">
        <img class="d-block w-100" [src]="tableau2?.image" alt="Second slide">
      </div>
      <div class="carousel-item" (click)="openTableau(tableaux.length-3)">
        <img class="d-block w-100" [src]="tableau3?.image" alt="Third slide">
      </div>
    </div>
  </div>
</div>